:root {
    --main-bg-color: #fbe3e3;
    --wood: #c19A6B;
  }

div.container{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
}

div.base{
    width: 80%;
    height: 7%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 190px;
    /* position: relative; */
	background-color: var(--wood);	
    z-index: 1;	
}

.leftTower, .centerTower, .rightTower {
    display: inline-flex;
    width: 1%;
    height: 180px;
    background-color: var(--wood);			
	margin-top: -150px;
    position: fixed;
    z-index: -1;
}

.leftTower{
    margin-left: 19%;
}

.centerTower{
    /* display: inline-flex;
    background-color: aqua;
    border: 1px solid #555;
    width: 1%;
    height: 180px;
    margin-left: 46%;
    margin-top: -150px;
    position: relative; */
    margin-left: 38%;
}

.rightTower{
    /* display: inline-flex;
    background-color: aqua;
    border: 1px solid #555;
    width: 1%;
    height: 180px; */
    margin-left: 57%;
    /* position: relative;  */
}

.diskGroup1{
    /* margin-top: -95px; */
}

.disk1
{
    border-left: 36px solid var(--main-bg-color);
    border-right: 36px solid var(--main-bg-color);
    width: 36px;
    height: 24px;
    background-color: #f6c8c7;
    /* display: inline-block;
    position: relative; */
}

.disk2
{
    border-left: 24px solid var(--main-bg-color);
    border-right: 24px solid var(--main-bg-color);
    width: 60px;
    height: 24px;
    background-color: #e3b0b0;
    z-index: 3;
}

.disk3
{
    border-left: 13px solid var(--main-bg-color);
    border-right: 13px solid var(--main-bg-color);
    width: 82px;
    height: 24px;
    background-color: #d7a5a5;
    /* margin-left: 20%; */
}

.disk4
{
    width: 108px;
    height: 24px;
    background-color: #c19090;
    /* margin-left: 20%; */
}